*{
 margin:0;
 padding: 0;
 outline: 0;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
 
}



.container{

display: flex;
justify-content: space-around;
padding: 10px;

}

.img{

height: 150px;
width: 150px;

}

.heading{
    color:#374659;
    font-weight: 600;
    text-align:center;
    margin-top: 20px;
}

.pera{
    color: #535B61;
    font-weight: 400;
    text-align:center;
    font-size: 17px;
    padding: 5px; 
     
}

.card{
   
    color: #535B61;
    display: flex;
    justify-content: center;

}

.contact{
   
    display: flex;
    width: 78%;
    justify-content: space-around;
    /* border: dimgrey solid 2px; */
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 2px 1px #b6b4b4;
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;   

}
.firstrow{
    font-weight: 600;
}
.details{
    font-weight: 600;
}
th,td {
    text-align: center;
    padding: 15px;
   
    margin-top: 10px;
}


tr:nth-child(1) {
    color: #fff;
    background: #F73E4C;
    
}

tr:nth-child(even) {
    background-color:#ECECEC;
}

/* tr:hover {
    background-color: #ddd;
} */

.invoice{
    font-weight: 400;
}

  
@media only screen and (max-width: 768px) {

  

    .contact{

    width: 88%;

    }
    .container{
align-items: center;
  flex-direction: column;
    }
.card, .table{
margin: auto;
    width: 90%;

}
.details{
    font-weight: 800;
    font-size: 12px;
}
.contact{
    font-size: 12px;
    gap: 20px;
  
  
}
.firstrow{
    font-size: 12px;
}

  



  }
